:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--violet);
    background-size: cover;
}

.header {
    margin: 3rem 0rem 0 3rem;
}

.header__image {
    width: 10.3125rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    margin: 3rem 0 0 0;
}

.main__image .main__illustration {
    width: 15.3125rem;
    height: 10.9375rem;
}

.main__container {
    color: white;
    margin-top: 2rem;
}

.main__title {
    font-size: 1.45rem;
    font-family: 'Poppins', sans-serif;
}

.main__paragraph {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    margin-top: 1.25rem;
    padding: 0 0.39rem;
}

.main__link {
    margin-top: 2rem;
}

.main__cta {
    text-decoration: none;
    color: var(--violet);
    font-family: 'Poppins';
    background-color: white;
    padding: .75rem 3.75rem;
    border-radius: 1.875rem;
}

.footer {
    margin: 5rem 0 3rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__cta {
    color: white;
    border: .0625rem solid white;
    border-radius: 1.5625rem;
}

.footer__cta__facebook {
    padding: .5rem .75rem .5rem .75rem;
}

.footer__cta__twitter, .footer__cta__instagram {
    padding: .5rem .55rem;
}

@media (min-width: 768px) {
    body {
        background-size: cover;
    }

    .main__title {
        width: 30%;
        margin-inline: auto;
    }
    
    .main__paragraph {
        width: 49%;
        margin-inline: auto;
    }

    .footer {
        margin: 3rem 0 3rem 0;
    }
}

@media (min-width: 1024px) {
    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: auto 71.25rem;
        background-repeat: no-repeat;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        text-align: left;
        margin: 4rem 2rem 0 2rem;
    }

    .main__image .main__illustration {
        width: 36.25rem;
        height: 25.625rem;
    }

    .main__container {
        margin-bottom: auto;
        color: white;
    }
    
    .main__title {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        width: 72%;
    }
    
    .main__paragraph {
        font-family: 'Open Sans', sans-serif;
        width: 74%;
    }

    .main__link {
        margin-left: 2.50rem;
    }

    .main__cta {
        padding: .75rem 3.50rem;
    }

    .footer {
        margin: 2rem 9.50rem 0 0;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    
    .footer__cta {
        color: white;
        border: .0625rem solid white;
        border-radius: 1.5625rem;
    }
}

@media (min-width: 1366px) { 
    body {
        background-image: url('../images/bg-desktop.svg');
        background-size: auto 71.25rem;
        background-repeat: no-repeat;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        text-align: left;
        margin: 4rem 2rem 0 2rem;
    }

    .main__image .main__illustration {
        width: 36.25rem;
        height: 25.625rem;
    }

    .main__container {
        margin-bottom: auto;
        color: white;
    }
    
    .main__title {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        width: 72%;
    }
    
    .main__paragraph {
        font-family: 'Open Sans', sans-serif;
        width: 74%;
    }

    .main__link {
        margin-left: 5.25rem;
    }

    .main__cta {
        padding: .75rem 3.50rem;
    }

    .footer {
        margin: 0 12rem 0 0;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    
    .footer__cta {
        color: white;
        border: .0625rem solid white;
        border-radius: 1.5625rem;
    }
}